.ResultsArea {
  background-color: #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: small;
  z-index: 4;
}

.TableContainer {
  width: 100%;
  position: relative;
}

.TableContainer table {
  width: 100%;
  overflow: auto;
  border: 1px solid #001429;
}

.TableContainer table thead,
.TableContainer table thead th {
  background-color: #001429;
  color: #fff;
  position: sticky;
  top: 0;
}

.TableContainer table tbody tr td div {
  max-height: 1rem;
}

.TableContainer table td {
  border-bottom: 1px solid #001429;
  border-right: 1px solid #001429;
  color: black;
  overflow: hidden;
}

th.IndexColumn {
  position: sticky;
  left: 0;
  background-color: #a8a8a8;
  z-index: 2;
}

.IndexColumn {
  text-align: center;
  position: sticky;
  left: 0;
  background-color: white;
}