.ButtonDefault {
  text-transform: uppercase;
  background-color: #1890ff;
  color: white;
  font-size: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: .5rem 2rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  display: flex;
  outline: none;
  align-items: center;
}

.ButtonStop {
  background-color: rgba(245, 71, 71, 0.993);
}

.ButtonDisabled {
  border: 2px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}